@charset "EUC-KR";

/*detail 2개*/

.notice_detail{
	background-color: aquamarine;
	margin:  auto;
	text-align: center;
	
}

.bankbook_detail{
	background-color: antiquewhite;
		margin:  auto;
	text-align: center;
}