@charset "EUC-KR";

/* add , update */

.add_form{
	width: 300px;
	height: 500px;
	margin:  auto;
	text-align: center;
	justify-content: space-around;
	line-height: 25px;
	background-color: silver;
}

.update_form{
	margin: auto;
	background-color: pink;
	width: 300px;
	height: 500px;
	text-align: center;
	justify-content: space-around;
	line-height: 25px;
}