<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.study.s1.bankbook.BankbookDAO">
    <select id="list" resultType="com.study.s1.bankbook.BankbookDTO">
    SELECT * FROM BANKBOOK
    </select>
    <select id="detail" parameterType="java.lang.Long" resultType="com.study.s1.bankbook.BankbookDTO">
    SELECT * FROM BANKBOOK WHERE BOOKNUMBER = #{num}
    </select>
    <insert id="add" parameterType="com.study.s1.bankbook.BankbookDTO">
    INSERT INTO BANKBOOK VALUES(BANKBOOK_SEQ.NEXTVAL,#{bookName},#{bookContents},#{bookRate},#{bookSale})
    </insert>
    <delete id="delete" parameterType="com.study.s1.bankbook.BankbookDTO">
    DELETE BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
    </delete>
    <update id="update" parameterType="com.study.s1.bankbook.BankbookDTO">
    UPDATE BANKBOOK SET BOOKNAME=#{bookName}, BOOKCONTENTS=#{bookContents}, BOOKRATE=#{bookRate}, BOOKSALE=#{bookSale} WHERE BOOKNUMBER = #{bookNumber}
    </update>
    </mapper>